
<!-- CONTENT ENDS HERE -->
    {{ if hasmath }}
        {{ insert foot_katex.html }}
    {{ end }}
    {{ if hascode }}
        {{ insert foot_highlight.html }}
    {{ end }}


<!-- Demo Modal -->
    <div id="demoModal" class="demo-modal" onclick="closeDemoModal()">
        <div class="modal-content" onclick="event.stopPropagation()">
            <span class="close-btn" onclick="closeDemoModal()">&times;</span>
            <h3>PeaceFounder Demo</h3>
            <div class="video-container">
                <iframe id="demoVideo" 
                        width="560" 
                        height="315" 
                        src="" 
                        title="PeaceFounder Demo" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                        allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>

  </body>
</html>
